.about {
	padding: 150px;

	&_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 50px 0px;

		h2 {
			margin: 20px 0;
			
			&::after {
				content: "";
				display: block;
				height: 5px;
				width: 50px;
				margin-top: 10px;
				background-color: #078ff2;
			}
		}

		p {
			text-align: initial;
			line-height: 1.8;
			color: #333;
		}

	}


	img {
		width: 50vw;
		border-radius: 8px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.about {
		padding: 50px;
	}
}
