.contact {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 100px 10px;
  max-width: 400px;
  border-radius: 8px;

  h2 {
    padding-top: 50px;
  }

  &_error {
    display: none;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 500px;
}

label {
  padding: 15px;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px 0px #333;
  
}

textarea { 
  width: 300px;
  resize: vertical; 
  max-height: 300px; 
  min-height: 100px; 
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 2px 0px #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
