.contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 100px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  