.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
width: 80vw;
background-color: #fff;
    margin: 150px auto;
    padding: 100px 0px;

    &_error {
      display:none
    }
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 500px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding:15px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  