.order {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  margin-top: 80px;

  &_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f9fafc;
    align-self: stretch;
    padding: 0 50px;
    flex: 1;

    &_summary {
      font-weight: bold;
      font-size: 20px;
      padding: 20px 0;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px 0;
      max-width: 600px;
      border-bottom: 1px solid #c3c3c3;

      &_header {
        h2 {
          font-weight: 400;
        }
      }

      &_content {
        display: flex;
        padding: 20px 0;

        img {
          height: 100px;
          border-radius: 8px;
        }

        &_details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 15px;

          &_ingredients {
            font-size: 13px;
            text-align: start;
          }

          &_info {
            display: flex;

            justify-content: space-between;
          }
        }
      }

      &_info {
        &_price {
          font-weight: bold;
        }
      }
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 100vh;
    width: 100%;
    background-color: #fff;

    &_heading {
      align-self: center;
      margin: 50px 0;
      color: #333;
    }

    

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      max-width: 500px;

      button {
        align-self: center;
        width: 100%;
        padding: 10px 50px;
        margin: 30px;
        border: none;
        border-radius: 8px;
        background-color: #007bff;
        color: #f9fafc;
        cursor: pointer;
      }

      label {
        align-self: flex-start;
        padding: 5px;
        font-weight: bold;
      }

      input {
        border: 1px solid #cfcfcf;
        border-radius: 30px;
        margin-bottom: 40px;
        padding: 10px 15px;
        width: 100%;
        font-size: 15px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
	.order {
    flex-direction: column;

  }
}
