.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  padding-top: 100px;
  min-height: calc(100vh - 200px);
  background-color: #f9fafc;

  &_item {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;

    &_wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      &_wrapper2 {
        button {
          width: 40px;
          height: 40px;
          padding: 10px;
          margin: 0 20px;
          background-color: transparent;
          border: 1px solid #c9c9c9;
          border-radius: 8px;
          cursor: pointer;
        }
        input {
          text-align: center;
          width: 80px;
          font-size: 18px;
          padding: 5px 20px;
          border-radius: 8px;
          background-color: transparent;
          border: 1px solid #c9c9c9;
        }
      }
    }

    &_price {
      font-size: 25px;
      padding: 10px;
    }

    &_photo {
      width: 250px;
      height: 200px;
      padding: 15px;
      border-radius: 25px;
    }

    &_title {
      padding-bottom: 25px;
      font-weight: 400;
    }

    &_button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      margin: 20px;
      padding: 10px 25px;
      font-size: 15px;
      border-radius: 8px;
      border: none;
      color: white;
      background-color: #078ff2;
      cursor: pointer;
      transition: 1s;
    }

    &_ingredients {
      margin: 5px 20px;
      font-size: 15px;
      color: #555;
      border-radius: none;
      padding: 5px;
      max-width: 500px;
    }

    select {
      font-size: 20px;
      border: none;
    }

    option * {
      padding: 5px;
    }
  }
}

.error {
  position: absolute;
  bottom: -10px;
}

@media screen and (max-width: 768px) {
  .products {
    flex-direction: column;

    &_item {
      width: auto;
      flex-direction: column;
    }
  }
}
