.usersettings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}